In [15]:
import pandas as pd

# Define file paths for your Excel files
funds_file = '../data/statsbidrag/ek_1_utbet_statliga_medel_utbomr.xlsx'
places_file = '../data/statsbidrag/ek_4_utbet_arsplatser_utbomr.xlsx'

# Load the data into pandas DataFrames
# We'll assume the actual table headers start on row 4 (index 3)
try:
    df_funds = pd.read_excel(funds_file, skiprows=5) 
    df_places = pd.read_excel(places_file, skiprows=5) 
    print("Excel DataFrames loaded successfully!")
except FileNotFoundError as e:
    print(f"Error: Make sure your Excel files are in the same directory as this notebook. {e}")
    # You might want to exit or raise an error here if files are critical.
except Exception as e:
    print(f"An error occurred while reading Excel files. Check file format or header row. {e}")

Excel DataFrames loaded successfully!

In [16]:
df_funds.head()

,Utbildningsområde,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Data/IT,109.192749,136.592343,154.726348,192.765796,211.257113,198.036024,203.249950,246.098128,356.251492,499.505111,566.211689,600.542099,665.038880
1,"Ekonomi, administration och försäljning",333.379221,373.196476,392.273449,397.432949,381.773874,406.235745,469.265158,549.522420,626.322157,677.605539,664.706433,645.379020,664.212939
2,Friskvård och kroppsvård,12.385036,12.129508,12.160803,11.943787,10.835978,7.151950,10.021599,12.640847,15.614295,18.105384,22.952224,23.312976,17.164001
3,"Hotell, restaurang och turism",76.257076,78.752007,81.725028,81.591173,78.335025,79.393923,83.923865,89.100543,102.670911,115.716079,110.391271,95.516479,100.372505
4,Hälso- och sjukvård samt socialt arbete,118.890913,130.518945,148.016792,174.665651,177.475662,194.507055,219.279194,257.937313,310.385978,356.077126,377.270519,359.356705,340.306947

In [ ]:



# Display the first few rows to inspect the data and confirm correct loading
print("\n--- Disbursed State Funds (df_funds) ---")
display(df_funds.head())

print("\n--- Disbursed Annual Study Places (df_places) ---")
display(df_places.head())